<div class="search-field">
  <form class="search-field__form" method="post" action="/search">
    <label class="visually-hidden" for="Search-Field__Search-Box">Search for a film</label>
    <input type="text" id="Search-Field__Search-Box" name="search" placeholder="search film" class="search-field__text">
    <input type="submit" class="search-field__submit" value="Find Movie">
  </form>
</div>
{% include "partials/title.html" %}
<div class='wrap'>
  <div class="results">
    {% for result_set in results %}
      <ui-stack>
        {% if result_set[0] %}
          <ui-stack>
            {% if result_set[0][0] %}
              <s-result title="{{ result_set[0][0].title }}" poster="{{result_set[0][0].poster_path}}" movie-link="{{url_for('similar', movie_id=result_set[0][0].id, movie_name=result_set[0][0].title)}}" rating="{{ result_set[0][0].vote_average }}"></s-result>
            {% endif %}
            {% if result_set[0][1] %}
              <s-result title="{{ result_set[0][1].title }}" poster="{{result_set[0][1].poster_path}}" movie-link="{{url_for('similar', movie_id=result_set[0][1].id, movie_name=result_set[0][1].title)}}" rating="{{ result_set[0][1].vote_average }}"></s-result>
            {% endif %}
          </ui-stack>
        {% endif %}
        {% if result_set[1] %}
          <ui-stack>
            {% if result_set[1][0] %}
              <s-result title="{{ result_set[1][0].title }}" poster="{{result_set[1][0].poster_path}}" movie-link="{{url_for('similar', movie_id=result_set[1][0].id, movie_name=result_set[1][0].title)}}" rating="{{ result_set[1][0].vote_average }}"></s-result>
            {% endif %}
            {% if result_set[1][1] %}
              <s-result title="{{ result_set[1][1].title }}" poster="{{result_set[1][1].poster_path}}" movie-link="{{url_for('similar', movie_id=result_set[1][1].id, movie_name=result_set[1][1].title)}}" rating="{{ result_set[1][1].vote_average }}"></s-result>
            {% endif %}
          </ui-stack>
        {% endif %}
      </ui-stack>
    {% endfor %}
  </div>
</div>
