:host {
  color: #fff;
  flex: 1 1 300px;
  margin: 8px;
  --head-text: 24px;
  --copy-text: 16px;
}

.movie-result {
  position: relative;
  font-weight: 300;
  background: #fff;
}

.movie-result::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0.5));

  pointer-events: none;
}

.movie-result__image-link {
  display: block;
}

.movie-result__details {
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;

  padding: 8px 16px;
}

.movie-result__image {
  display: block;
  width: 100%;
}

.movie-result__rating-group {
  display: flex;
  font-size: var(--head-text);
}

.movie-result__rating {
  flex: 1 1 auto;
}

.movie-result__heart {
  background: none;
  border: none;
  margin-top: -3px;
  cursor: pointer;
  fill: #fff;
}
.movie-result__heart svg {
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.movie-result__heart--is-active {
  fill: #e74c3c;
}