{% extends "layout/layout_main.html" %}

{% block body %}
  <nav class="navigation">
    <ul class="connected-wrapper">
      <li class="connected-wrapper__item">
        <a href="/">Home</a>
      </li>
      <li class="connected-wrapper__item connected-wrapper__item--is-active">
        <a href="/mine">Mine</a>
      </li>
    </ul>
  </nav>

  <div class="container group" id="resultId">
    <div class="movie-result">
      <a href="/similar/" class="movie-result__image-link">
      </a>
      <div class="title"></div>
      <div class="movie-result__rating-group">
        <div class="movie-result__rating"></div>
        <div class="movie-result__favourite-button">
          <button class="movie-result__heart" data-film="" data-id="" data-rating="" data-image="">
            <svg viewBox="0 0 32 32">
              <use xlink:href="#icon-heart"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="saveData">
      <p>
        Put these on another device by backing these up
        <button class="addData" id="backupMovies">Back up</button>
        <input type="text" id="textareaLink" class="textArea">
      </p>
    </div>
    <div class="removeData">
      <button class="deleteData" id="deleteData">delete</button>
      <p>Having troubles? Try deleting your saved films.</p>
    </div>
  </div>
{% endblock %}

{% block additional_scripts %}
  <script type="text/javascript" src="/assets/js/builder.js"></script>
{% endblock %}
