<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/bundle.css">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="import" href="/assets/components/components-compiled.html" async>
  </head>

  <body>
  {% block body %}{% endblock %}
  <script type="text/javascript" src="/assets/js/include-component-polyfill.js"></script>
  {% block additional_scripts %}{% endblock %}
  </body>
</html>