<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>

  <body>
  {% block body %}{% endblock %}

  <script type="text/javascript" src="/assets/js/localforage/dist/localforage.js"></script>
  <script type="text/javascript" src="/assets/js/app.js"></script>
  {% block additional_scripts %}{% endblock %}

  </body>
</html>
